html{
    min-height: 100%;
}
body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/image1.jpg");
    background-size: cover;
    background-position: center;
    
    font-family: sans-serif;
}

#contact{
    text-align: center;
    color: #364105;
}